@import "tailwindcss";

@font-face {
    font-family: "poppins-medium";
    src: url("../public/font/Poppins-Medium.ttf");
}

@font-face {
    font-family: "poppins-semibold";
    src: url("../public/font/Poppins-SemiBold.ttf");
}

@font-face {
    font-family: "poppins-bold";
    src: url("../public/font/Poppins-Bold.ttf");
}

@font-face {
    font-family: "poppins-regular";
    src: url("../public/font/Poppins-Regular.ttf");
}

@font-face {
    font-family: "poppins-light";
    src: url("../public/font/Poppins-Light.ttf");
}

/* For Chrome, Safari, Edge */
.hide-scroll::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
.hide-scroll {
  scrollbar-width: none;
}

/* For IE/Old Edge */
.hide-scroll {
  -ms-overflow-style: none;
}

@theme default {
    --font-poppins-light: "poppins-light";
    --font-poppins-regular: "poppins-regular";
    --font-poppins-medium: "poppins-medium";
    --font-poppins-semibold: "poppins-semibold";
    --font-poppins-bold: "poppins-bold";
}